In [34]:
# 1. Import Library
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [35]:
# 2. Load Dataset
data = pd.read_csv('salesdaily.csv')
data = data.drop(columns=['Year','Month','Hour','Weekday Name'])
data.head()

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

      datum  M01AB  M01AE  N02BA  N02BE  N05B  N05C   R03  R06
0  1/2/2014    0.0   3.67    3.4  32.40   7.0   0.0   0.0  2.0
1  1/3/2014    8.0   4.00    4.4  50.60  16.0   0.0  20.0  4.0
2  1/4/2014    2.0   1.00    6.5  61.85  10.0   0.0   9.0  1.0
3  1/5/2014    4.0   3.00    7.0  41.10   8.0   0.0   3.0  0.0
4  1/6/2014    5.0   1.00    4.5  21.70  16.0   2.0   6.0  2.0

In [36]:
# 3. Cek Null
data.isnull().sum()

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

datum    0
M01AB    0
M01AE    0
N02BA    0
N02BE    0
N05B     0
N05C     0
R03      0
R06      0
dtype: int64

In [37]:
# 4. Set Index Datum
basket_Medicine = data.set_index('datum')

basket_Medicine.head()

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

          M01AB  M01AE  N02BA  N02BE  N05B  N05C   R03  R06
datum
1/2/2014    0.0   3.67    3.4  32.40   7.0   0.0   0.0  2.0
1/3/2014    8.0   4.00    4.4  50.60  16.0   0.0  20.0  4.0
1/4/2014    2.0   1.00    6.5  61.85  10.0   0.0   9.0  1.0
1/5/2014    4.0   3.00    7.0  41.10   8.0   0.0   3.0  0.0
1/6/2014    5.0   1.00    4.5  21.70  16.0   2.0   6.0  2.0

In [38]:
# 5. One Hot Encoding
def hot_encode(x):
  if(x<= 0):
    return 0
  if(x> 0):
    return 1

basket_encoded = basket_Medicine.applymap(hot_encode)
basket_Medicine = basket_encoded

basket_Medicine

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

           M01AB  M01AE  N02BA  N02BE  N05B  N05C  R03  R06
datum
1/2/2014       0      1      1      1     1     0    0    1
1/3/2014       1      1      1      1     1     0    1    1
1/4/2014       1      1      1      1     1     0    1    1
1/5/2014       1      1      1      1     1     0    1    0
1/6/2014       1      1      1      1     1     1    1    1
...          ...    ...    ...    ...   ...   ...  ...  ...
10/4/2019      1      1      1      1     1     0    1    1
10/5/2019      1      1      1      1     1     0    0    1
10/6/2019      1      1      1      1     1     0    1    1
10/7/2019      1      1      1      1     1     0    1    1
10/8/2019      1      1      1      1     1     1    1    0

[2106 rows x 8 columns]

In [39]:
# 6. Bangun Model
frq_items = apriori(basket_Medicine, min_support = 0.6, use_colnames = True)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
/usr/local/lib/python3.10/dist-packages/mlxtend/frequent_patterns/fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [40]:
# 7. Bangun Aturan
rules = association_rules(frq_items, metric="lift", min_threshold = 1)
rules = rules.sort_values(['confidence','lift'], ascending = [False, False])
#print(rules.head())
rules.head(100)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
4,(M01AB),(N02BE),0.981007,0.987654,0.981007,1.000000,1.012500,0.012111,inf,0.650000
14,(M01AE),(N02BE),0.982906,0.987654,0.982906,1.000000,1.012500,0.012135,inf,0.722222
22,(N02BA),(N02BE),0.962963,0.987654,0.962963,1.000000,1.012500,0.011888,inf,0.333333
30,(N05B),(N02BE),0.979582,0.987654,0.979582,1.000000,1.012500,0.012094,inf,0.604651
33,(R03),(N02BE),0.770180,0.987654,0.770180,1.000000,1.012500,0.009508,inf,0.053719
...,...,...,...,...,...,...,...,...,...,...
1173,"(N05B, R06, R03)","(M01AB, N02BE)",0.683286,0.981007,0.680437,0.995830,1.015111,0.010129,4.555239,0.047001
660,"(N05B, R06, R03)",(M01AE),0.683286,0.982906,0.680437,0.995830,1.013149,0.008831,4.099715,0.040979
1313,"(N05B, R06, N02BE, R03)",(M01AE),0.683286,0.982906,0.680437,0.995830,1.013149,0.008831,4.099715,0.040979
1317,"(N05B, R06, R03)","(M01AE, N02BE)",0.683286,0.982906,0.680437,0.995830,1.013149,0.008831,4.099715,0.040979
1016,"(N05B, M01AE, R06, R03)",(M01AB),0.680437,0.981007,0.677588,0.995813,1.015093,0.010075,4.536246,0.046528